---
layout: default
---

<h1>angry composers</h1>

<div>
  <p>
    A group of composers being angry in nyc
  </p>
  <ul class="random-order-list">
    <li><a href="https://www.sequoiasellinger.com/">sequoia sellinger</a></li>
    <li><a href="https://www.felixjarrarmusic.com">felix jarrar</a></li>
    <li><a href="https://noahbeckermusic.com/">noah becker</a></li>
    <li><a href="https://andrewyoon.art">andrew yoon</a></li>
    <li><a href="http://www.jonahudall.com/">jonah udall</a></li>
    <li><a href="http://www.nickdunston.org/">nick dunston</a></li>
    <li><a href="https://frankspigner.com/">frank spigner</a></li>
    <li><a href="https://natalie.computer/">natalie braginsky</a></li>
    <li><a href="https://www.cattoren.com/">cat toren</a></li>
    <li><a href="https://melodyloveless.com">melody loveless</a></li>
    <li><a href="http://davidlu.me">david lu</a></li>
    <li>calvin temoshok</li>
    <li><a href="https://shekerjian.com/">eric shekerjian</a></li>
    <li><a href="https://www.zacharyjamesritter.com/">zachary james ritter</a></li>
    <li><a href="https://darianthomas.myportfolio.com/">darian thomas</a></li>
    <li><a href="https://lilifaemusic.wordpress.com/">lili tobias</a></li>
    <li><a href="https://soundcloud.com/slimechurch">coco walsh</a></li>
    <li><a href="https://clairefrancessullivan.com">claire-frances sullivan</a></li>
    <li><a href="https://sebastianzelmusic.com">sebastian zel</a></li>
  </ul>
</div>

<div>
  <p>
    would you like to join our budding community of soundmakers? we meet
    once a month in brooklyn, go to shows together, share sounds, ideas, and
    books, and foster group accountability for Not Selling Out To The Man.
    get in touch by email <a href="mailto:sequoiasellinger@gmail.com">here</a>.
  </p>
</div>

<div class="site-info-block"><a href="/site-info.html">site info</a></div>
