---
layout: default
permalink: /site-info.html
---

<div>
    <p>
        this site is open source and <a href="https://www.gnu.org/philosophy/free-sw.html">Free</a>;
        its source code is available on gitlab <a href="https://gitlab.com/nyc-composers-collective/nyccomposercollective.org">here</a>,
        licensed under the <a href="http://www.wtfpl.net/">wtfpl</a>.
    </p>
    <p>
        we gather basic anonymized usage info with a privately hosted matomo (formerly known as piwik) analytics server. to opt out, feel free to use an ad blocker. (it's not an ad tool, but ad blockers will catch it)
    </p>
    <p>
        <a href="/">&lt;-- back</a>
    </p>
</div>
