<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{{ site.title }}{% if page.title %} | {{ page.title }}{% endif %}</title>
        <link href="https://fonts.googleapis.com/css?family=Source+Code+Pro" rel="stylesheet">
        <link rel="stylesheet" href="/css/style.css">
        {% include piwik.html %}
    </head>
    <body>
        <section>
            {{ content }}
        </section>
    </body>
    <script>
     {% include randomDesign.js %}
    </script>
</html>
